# System Files
.DS_Store
# Video files
*.mp4
*.MOV
# Pycache Folder
**/__pycache__/
__pycache__
# Example Pipeline csv output
**/pipeline/**/*.csv
# exclude some models
data/models/old
data/models/sequence-2f
data/models/sequence-6f
data/models/sequence-15f
